.App {
  text-align: center;
}

/* .flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: peru;
  padding: 15px;
}

.flexbox .board .speaker-1 {
  padding: 15px 25px;
  background-color: lightsalmon;
  cursor: pointer;
  margin-bottom: 15px;
} */

.nav-links {
  font-family: 'Baloo Da 2', cursive;
  margin: 10px;
}

.header {
  font-family: 'Bungee Shade', cursive;
}

p {
  font-family: 'Baloo Da 2', cursive;
}
h2 {
  font-family: 'Baloo Da 2', cursive;
}
