.flexbox-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;

  overflow: hidden;
  margin: auto;
  padding: 15px;
}

.flexbox-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  margin: auto;
  padding: 15px;
}

.board-flexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* max-width: 600px; */
  height: 100px;
  /* padding: 15px; */
}

.flexbox-1 .start-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 600px; */
  height: 200px;
  background-color: peru;
  padding: 15px;
}

.input-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receiver-board {
  /* display: flex;
  flex-direction: row; */
  width: 100px;
  height: 70px;
  margin: 15px;
  background-color: peachpuff;
  padding: 15px;
}

/* .flexbox .board .speaker-1 {
  padding: 15px 25px;
  background-color: lightsalmon;
  cursor: pointer;
  margin-bottom: 15px;
} */

.speaker-1 {
  background-color: lightsalmon;
  border: solid;
  border-color: salmon;
  width: 100px;
  height: 45px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
}

.speaker-2 {
  background-color: lightseagreen;
  border: solid;
  border-color: darkcyan;
  width: 100px;
  height: 45px;
  cursor: pointer;
  /* margin-right: 15px; */
}

.box {
  border: solid;
  border-color: orchid;
  height: 45px;
  width: 105px;
}

.check-button {
  margin: 15px;
}

.number-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* max-width: 768px; */
  margin-bottom: 20px;
  overflow: hidden;
}

span {
  font-size: x-large;
}

.number-buttons {
  background-color: rgb(165, 202, 181);
  border: solid;
  border-color: rgb(165, 202, 181);
  width: 175px;
  height: 100px;
  margin-right: 15px;
}

.number-buttons-game {
  background-color: rgb(165, 202, 181);
  border: solid;
  border-color: rgb(165, 202, 181);
  width: 75px;
  height: 50px;
  margin: 15px;
}

.number-input {
  max-width: 40px;
  max-height: 40px;
  margin-left: 30px;
}
