.button {
  border: none;
  background-color: white;
}

.speaker-1 {
  background-color: lightsalmon;
  width: 100px;
  max-height: 40px;
  text-align: center;
  padding: 3px;
}

.speaker-2 {
  background-color: lightseagreen;
  width: 100px;
  max-height: 40px;
  text-align: center;
  padding: 3px;
}

.speaker-1a {
  background-color: lightcoral;
  width: 100px;
  max-height: 40px;
  text-align: center;
  padding: 3px;
}

.speaker-2a {
  background-color: darkcyan;
  width: 100px;
  max-height: 40px;
  text-align: center;
  padding: 3px;
}
